{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas App</title>
    
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/all.css" %}>
    
</head>

<body>

    <!-- signup section start here -->
    <section>
        <div class="ai_login_section">
            <div class="login_wrap_sec ">
                <div class="flex_login_sec">
                    <div class="login_inner_data text-center">
                        
                        <h1>Create An Account</h1>
                        <p>Let’s Create Account Together</p>
                        {% if messages %}
                            <div class="alert">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form action="{% url 'signup' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="Username" required><br>
                            <input type="email" name="email" placeholder="Email Address" required><br>
                            <input type="password" name="password" placeholder="Password" required><br>
                            <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
                            <div class="login_btn my-3">
                                <button type="submit">Create Account</button>
                            </div>
                            <h6>Already have an account? <span><a href="{% url 'login' %}">login</a></span></h6>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- signup section end here  -->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
</body>

</html>
