.container {
    display: flex; /* Use flexbox for layout */
}
.chat-container {
    width: 461px;
    height: 100vh;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    top: 140px;
    right: 15px;
}
.message-input {
    width: calc(100% - 85px); /* Adjust input width */
    margin-right: 10px;
}
.send-button {
    width: 75px; /* Adjust button width */
}